# Archivos DLL compilados en bytes / optimizados
__pycache__/
*.py[cod]
*.so

# Entornos virtuales
.venv/
venv/
env/

# Archivos de caché de Python
*.pyc

# Bases de datos
*.db
*.sqbpro

# VS Code
.vscode/

# macOS
.DS_Store
